<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Generate Report</title>
        <!-- raising alerts if a msg has been passed from the view -->
        {% if msg %}
            <script>
                alert('{{ msg }}')
            </script>
        {% endif %}
    </head>
    <body>
        <form method="get" action="{% url 'generate' %}">
            <label>Enter the mobile number:</label>
            <input type="text" name="phone" maxlength="10" size="15" required> <br><br><br>
            <button type="submit">Generate Report</button> &emsp;&emsp;
        </form>
    </body>
</html>
